/*Detailseite*/
.mp4{
  width:75%;
  margin: 10px 12.5%;
}
img {
  width: 25%;
  text-align: center;
    margin: 10px 62.5% 20px 12.5%;
}

@media only screen and (max-width: 960px) {
  img {
  width: 100%;
  margin: 10px 0%;
  }
  .mp4{
    width:100%;
    margin: 10px 0%;
  }
}
